@media (max-width: 1230px) {
  /* Intro*/
  .intro_subtitle {
    font-size: 42px;
  }

  .intro_title {
    font-size: 100px;
  }

  /* Reviews */
  .reviews_text {
    font-size: 20px;
  }
}
@media (max-width: 990px) {
  /* Intro*/
  .intro_subtitle {
    font-size: 32px;
  }

  .intro_title {
    font-size: 70px;
  }

  /* Stat */
  .stat {
    justify-content: center;
  }

  .stat_item {
    flex: none;
    width: 33.33333%;
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .stat_item:last-child {
    border-right: 0;
  }

  /* Services */
  .services_item {
    width: 50%;
    padding-bottom: 0;
  }

  .services_item--border {
    border-bottom: 0;
  }

  /* Reviews */
  .reviews .slick-slider {
    padding: 0 60px;
  }

  .reviews_photo {
    width: 150px;
    height: 150px;
  }

  .reviews_item {
    padding-left: 175px;
  }

  /* Clients */
  .clients {
    max-width: 600px;
    margin: 0 auto;
  }

  .clients_item {
    width: 100%;
    padding-right: 0;
  }

  .clients_item:last-child {
    margin-bottom: 0;
  }

  /* Footer */
  .footer_col--first {
    width: 100%;
  }

  .footer_col--second,
.footer_col--third {
    width: 50%;
  }

  /* Instagram */
  .instagram {
    justify-content: flex-start;
  }

  .instagram_item {
    width: auto;
    border-right: 1px solid #fff;
  }
}
@media (max-width: 770px) {
  /* Intro*/
  .intro {
    min-height: 650px;
  }

  /* Header */
  .header {
    padding: 10px 0;
  }

  /* Nav */
  .nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: #eb8b8b;
    opacity: 0.8;
  }

  .nav.active {
    display: block;
  }

  .nav_link {
    display: block;
    margin: 0;
    padding: 8px 20px;
  }

  .nav-toggle {
    display: block;
  }

  /* Section */
  .section {
    padding: 40px 0;
  }

  .section--devices {
    padding-bottom: 0;
  }

  /* Card */
  .card {
    margin-top: 50px;
    justify-content: center;
  }

  .card_item {
    width: 100%;
    max-width: 410px;
    margin-bottom: 30px;
  }

  .card_item:last-child {
    margin-bottom: 0;
  }

  /* Slider */
  .slider_text {
    display: none;
  }

  .slider_item.active:before {
    width: 50%;
  }

  /* Services */
  .services {
    justify-content: center;
  }

  .services_item {
    width: 100%;
    max-width: 400px;
    padding-left: 55px;
    padding-right: 0;
  }

  .services_icon {
    left: 0;
  }

  /* We do */
  .wedo_img {
    display: none;
  }

  .wedo_item {
    width: 100%;
  }

  /* Reviews */
  .reviews_photo {
    position: static;
    margin: 0 auto 20px;
  }

  .reviews_item,
.reviews_item--circle {
    padding-left: 0;
  }

  .reviews_text {
    font-size: 16px;
  }

  .reviews_author {
    font-size: 20px;
  }

  /* Works */
  .works {
    flex-wrap: wrap;
  }

  .works_col {
    flex: none;
    width: 50%;
  }

  /* Blog */
  .blog {
    max-width: 380px;
    margin: 0 auto;
  }

  .blog_item {
    width: 100%;
    margin-bottom: 30px;
  }

  .blog_item:last-child {
    margin-bottom: 0;
  }

  /* Footer */
  .footer_col--second,
.footer_col--third {
    width: 100%;
  }
}
@media (max-width: 575px) {
  /* Intro*/
  .intro_subtitle {
    font-size: 22px;
  }

  .intro_title {
    font-size: 50px;
  }

  /* Section */
  .section_header {
    margin-bottom: 50px;
  }

  .section_suptitle {
    font-size: 20px;
  }

  .section_title {
    font-size: 24px;
  }

  .section_title:after {
    margin: 20px auto;
  }

  /* Stat */
  .stat_item {
    width: 100%;
    border-bottom: 1px solid #b5eae0;
  }

  .stat_item:last-child {
    border-bottom: 0;
  }

  .stat_count {
    font-size: 52px;
  }

  /* Devices */
  .devices {
    max-width: 320px;
  }

  .devices_item--iphone {
    width: 180px;
    bottom: -50px;
    right: -80px;
  }

  /* Reviews */
  .reviews .slick-slider {
    padding: 0;
  }

  .slick-arrow {
    top: 18%;
  }

  /* Logos */
  .logos {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logos_item {
    width: 50%;
    margin-bottom: 20px;
  }

  .logos_img {
    margin: 0 auto;
  }

  /* Works */
  .works_col {
    width: 100%;
  }

  .works_image {
    width: 100%;
  }

  /* Clients */
  .clients_photo {
    position: static;
  }

  .clients_item {
    padding-left: 0;
    text-align: center;
  }

  .clients_text:before {
    margin: 15px auto;
  }

  /* Blogs */
  .blogs_img {
    width: 80px;
    height: 50px;
  }

  .blogs_title {
    font-size: 10px;
  }

  /*Subscribe */
  .subscribe {
    flex-wrap: wrap;
    max-width: none;
  }

  .subscribe_input {
    margin-bottom: 10px;
    border-right: 1px solid #e7e7e7;
  }

  .subscribe_input,
.subscribe_button {
    width: 100%;
  }
}

/*# sourceMappingURL=responsive.css.map */
