//Typography

$font-main: 'Montserrat', sans-serif;
$font-text: 'Roboto', sans-serif;
$font-cursive: 'Kaushan Script', cursive;

$font-size-text: 15px;
$font-size-text-2: 14px;
$h1-font-size: 100px;
$h2-font-size: 30px;
$h3-font-size: 24px;

$light: 300;
$bold: 700;

//Colors
$white: #fff;
$pink: #eb8b8b;
$pink-saturated: #f38181;
$yellow: #fce38a;
$grey: #ccc;
$gray-darken: #333;
$gray-dark: #999;
$gray-light: #e5e5e5;
$gray-lighten: #f8f8f8;
$mint: #95e1d3;

